<app-menu></app-menu>

<div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading center">Pedidos</div>
      <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped" id="tabla_lispedidos">
            <thead>
              <tr>
                <td>Tipo Pedido</td>
                <td>Descripción</td>
                <td>Sucursal</td>
                <td>Borrar</td>
               <!-- <td>Editar</td>-->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lispedido of lispedidos" >
                <td>{{lispedido.tipo_pedido}}</td>
                <td>{{lispedido.descripcion}}</td>
                <td>{{lispedido.sucursal}}</td>
                 <td><button class="btn btn-danger btn-sm glyphicon glyphicon-trash" (click)="delete(lispedido); $event.stopPropagation()"></button></td>
                <!--   <td><button class="btn btn-warning btn-sm  glyphicon glyphicon-pencil"></button></td>-->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<!--<div>
 <button class="btn btn-primary" (click)="exportExcel()">Export</button>
</div>-->
 
