<app-menu></app-menu>
<div class="container">
  <button routerLink="/alta-pedido" class="btn btn-primary">Ingresar Pedido</button>
</div>

<!--PARA GOOGLE MAPS-->
<div class="panel-responsive">
  <agm-map [latitude]="lat" [longitude]="lng">
    <div *ngFor="let productoMap of productoMaps">
      <agm-marker [latitude]=productoMap.lat [longitude]=productoMap.lng [iconUrl]="'./assets/ping.png'">

        <agm-info-window class="">
          <strong class="col col-md-5">{{productoMap.descripcion}}</strong>
          <img class="img-full col col-md-2" src="{{productoMap.imagen}}">
        </agm-info-window>
      </agm-marker>
    </div>
  </agm-map>
</div>
