.visible{
    visibility: visible
}
.hiden{
    visibility: hidden;
    position: absolute;
}

wandering-cubes{
    text-align: center;
    position: relative;
    margin: auto;
    z-index: 99999;
    width: 10%;
    height: 100%;
    overflow: visible;
    background: #fff;
    display: block;
}