<div class="container">
  <h1>
    {{title}}
  </h1>
  <div class="row">
    <form (ngSubmit)="enviar()" class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading center">Login</div>
        <div class="panel-body">

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="mail" name="mail" [(ngModel)]="login.mail" required />
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="clave" name="clave" [(ngModel)]="login.clave" />
          </div>
          <input type="hidden" id="id" name="id" [(ngModel)]="login.id" />
          <div class="form-group col-md-6 col-md-offset-2">
            <button type="submit" class="btn btn-info">Ingresar</button>

            <label><input type="checkbox"> Recordarme</label>
            <button (click)="Registrarse()" class="btn btn-danger">Registrarse</button>
          </div>

        </div>
      </div>
    </form>

    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading center">Botones de Testeo</div>
        <div class="panel-body">
          <p><button (click)="IngresarAdministrador()" class="btn btn-info">Ingresar Administrador</button></p>
          <p><button (click)="IngresarEncargado()" class="btn btn-info">Ingresar Encargado</button></p>
          <p><button (click)="IngresarEmpleado()" class="btn btn-info">Ingresar Empleado</button></p>
          <p><button (click)="IngresarCliente()" class="btn btn-info">Ingresar Cliente</button></p>
        </div>
      </div>
    </div>

    <div class="col col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading center">Mapa de Sucursales</div>
        <div class="panel-body">

<div class="form-group">
        <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupInput [formControl]="destinationInput">
        <input placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupOutput [formControl]="destinationOutput" >
      </div>
       <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom"  >
                <!-- <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="iconurl">
                    <sebm-google-map-info-window>
                        <strong>InfoWindow content</strong>
                    </sebm-google-map-info-window>
                </sebm-google-map-marker> -->
                <agm-map-directions [origin]="origin" [destination]="destination">
                  <agm-info-window [disableAutoPan]="true">
                    Hi, this is the content of the <strong>info window</strong>
                  </agm-info-window>
                </agm-map-directions>
              
        <div *ngFor="let sucursalesMap of sucursalesMaps">
          <agm-marker [latitude]=sucursalesMap.lat 
              [longitude]=sucursalesMap.lng
              [iconUrl]="'./assets/ping.png'" >

        <agm-info-window class="">
          <strong class="col col-md-3">{{sucursalesMap.descripcion}}</strong>
           <img class="img-full col col-md-2" src="{{sucursalesMap.imagen}}">
        </agm-info-window>
        </agm-marker>
      </div>
      </agm-map>
    </div>
    </div>
  </div>



 <!-- <div class="row">
    <div class="col col-md-4">
      <h2>{{ title1 }}</h2>
      <label class="col col-md-4">Dirección: Fabian Onsari 14, B1875EJA Avellaneda, Buenos Aires</label>
      <img class="img-full" src="./assets/primero.png">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>

    <div class="col col-md-4">
      <h2>{{ title2 }}</h2>
      <label class="col col-md-4">Dirección: Av. Bartolomé Mitre 3005, B1872GFI Gran Buenos Aires, Buenos Aires</label>
      <img class="img-full" src="./assets/segundo.png">
      <agm-map [latitude]="lat1" [longitude]="lng1">
        <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
      </agm-map>
    </div>

    <div class="col col-md-4">
      <h2>{{ title3 }}</h2>
      <label class="col col-md-4">Dirección: Av. Raúl Scalabrini Ortiz 1525, C1414DOC CABA</label>
      <img class="img-full" src="./assets/tercero.png">
      <agm-map [latitude]="lat2" [longitude]="lng2">
        <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>
      </agm-map>
    </div>
  </div>-->

</div>





<!--<div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading center">Usuarios</div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td>Nombre</td>
                  <td>Mail</td>
                  <td>Clave</td>
                  <td>Borrar</td>
                  <td>Editar</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users" (click)="onSelect(user)" [class.selected]="user === selectedUser">
                  <td>{{user.nombre}}</td>
                  <td>{{user.mail}}</td>
                  <td>{{user.clave}}</td>
                  <td><button class="delete" (click)="delete(user); $event.stopPropagation()">X</button></td>
                  <td><button class="edit">√</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>-->
<script>
  // Automatic Slideshow - change image every 4 seconds
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {
      myIndex = 1
    }
    x[myIndex - 1].style.display = "block";
    setTimeout(carousel, 4000);
  }

  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }

  // When the user clicks anywhere outside of the modal, close it
  var modal = document.getElementById('ticketModal');
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

</script>
