
<div class="container">
  <h1>
    {{title}}
  </h1>
  <form (ngSubmit)="enviar()" class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading center">Login</div>
      <div class="panel-body">

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="mail" name="mail" [(ngModel)]="login.mail" required />
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="clave" name="clave" [(ngModel)]="login.clave" />
        </div>
        <input type="hidden" id="id" name="id" [(ngModel)]="login.id" />
        <div class="form-group col-md-6 col-md-offset-2">
          <button type="submit" class="btn btn-info">Ingresar</button>

          <label><input type="checkbox"> Recordarme</label>
          <button (click)="Registrarse()" class="btn btn-danger">Registrarse</button>
        </div>

      </div>
    </div>
  </form>

  <div class="col-md-2">
    <div class="panel panel-primary">
      <div class="panel-heading center">Botones de Testeo</div>
      <div class="panel-body">
        <button (click)="IngresarAdministrador()" class="btn btn-info">Ingresar Administrador</button>
        <button (click)="IngresarEncargado()" class="btn btn-info">Ingresar Encargado</button>
        <button (click)="IngresarEmpleado()" class="btn btn-info">Ingresar Empleado</button>
        <button (click)="IngresarCliente()" class="btn btn-info">Ingresar Cliente</button>
      </div>
    </div>
  </div>

</div>





<!--<div class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading center">Usuarios</div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td>Nombre</td>
                  <td>Mail</td>
                  <td>Clave</td>
                  <td>Borrar</td>
                  <td>Editar</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users" (click)="onSelect(user)" [class.selected]="user === selectedUser">
                  <td>{{user.nombre}}</td>
                  <td>{{user.mail}}</td>
                  <td>{{user.clave}}</td>
                  <td><button class="delete" (click)="delete(user); $event.stopPropagation()">X</button></td>
                  <td><button class="edit">√</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>-->
<script>
  // Automatic Slideshow - change image every 4 seconds
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {
      myIndex = 1
    }
    x[myIndex - 1].style.display = "block";
    setTimeout(carousel, 4000);
  }

  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }

  // When the user clicks anywhere outside of the modal, close it
  var modal = document.getElementById('ticketModal');
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

</script>
