/* You can add global styles to this file, and also import other style files */

.bg {
  background: url("inmobiliaria.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  position: fixed;
  width: 100%;
}

.container {
  padding-top: 0px;
  padding-bottom: 25px;
  width: 100%;
}
.tamLetras {
  font-size: 8pt;
}

.scroll {
    max-height: 80%;
    overflow: auto;
}